.col1, .col2, .col3, .cols {float:left}
.col1 {width:346px;background:#f4f4f4;height:100%} 
.col2 {width:544px}
.cols {width:280px}
/* index.html */
#page1 h1 {padding-top:33px}
#page1 #top_nav {padding-top:33px}
#page1 #menu {padding-top:12px}
#page1 header {height:126px}
#page1 #banner {background:url(../images/Capture.jpg) 0 0 no-repeat;height:283px;padding:38px 0 0 60px}
/* index-1.html */
#page2 .cols {width:249px}
/* index-2.html */
#page3 .cols {width:249px}
/* index-3.html */
/* index-4.html */
#page5 .cols {width:80px}
/* index-5.html */
/* index-6.html */
