/*h1.ftr {
	color: red;		
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}*/


nav a#logo {
	color : green;
	margin-left: 60px;
	position: static;
}
