/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
/* Global properties */
body {background:#fff;border:0;font:14px Arial,Helvetica,sans-serif;color:#3c4046;line-height:20px;min-width:1000px}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);behavior:url(js/PIE.htc);position:relative}
.main {margin:0 auto;width:1000px}
.body1 {background:url(../images/bg_top.jpg) top center no-repeat #1e2023}
.body2 {background:url(../images/bg_bo.jpg) top center no-repeat #1e2023}
a {color:#1e749a;text-decoration:underline;outline:none}
a:hover {text-decoration:none}
h1 {font-size:20px;font-weight:400;text-transform:uppercase;line-height:26px;color:#fff;float:left;padding:23px 0 0 58px}
h2 {font-size:28px;color:#3c4046;line-height:38px;padding:30px 0 16px 0;font-weight:400;letter-spacing:-1px}
p {padding-bottom:20px}
/* header */
header {width:100%;overflow:hidden;height:106px}
header .right {width:600px}
#logo {display:block;background:url(../images/logo.jpg) 0 0 no-repeat;width:176px;height:39px;text-indent:-5000px}
#slogan {display:block}
#top_nav {float:right;padding:25px 60px 0 0}
#top_nav li {float:left;padding-right:21px;margin-right:20px;background:url(../images/line_top.gif) right 0 no-repeat;padding-top:2px;padding-bottom:3px}
#top_nav .bg_none {padding-right:0;margin:0;background:none}
#menu {float:left;padding-top:8px;padding-left:5px;width:570px}
#menu li {float:left;padding-left:1px}
#menu li a {display:block;font-size:16px;text-transform:uppercase;color:#fff;text-decoration:none;line-height:30px;behavior:url(js/PIE.htc);position:relative;padding:0 20px;margin:1px 0}
#menu li a:hover, #menu #menu_active a {border-bottom:1px solid #373b40;border-top:1px solid #000;background:#191a1e;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0}
#banner {background:url(../images/bg_img2.jpg) 0 0 no-repeat;height:211px;padding:30px 0 0 60px}
.text1 {font-weight:600;color:#f0f0f0;font-size:50px;line-height:60px;width:330px;letter-spacing:-2px}
.text1 span {font-size:45px;line-height:50px;display:block;padding-left:80px;margin-top:-12px;font-weight:400;letter-spacing:-2px}
.text1 p {font-size:18px;line-height:20px;font-weight:400;padding:13px 0 25px 0;letter-spacing:-1px}
.button_top {display:inline-block;background:url(../images/button_top.jpg) 0 0 no-repeat;font-size:16px;text-transform:uppercase;color:#fff;text-decoration:none;line-height:31px;padding-right:40px;text-align:center;width:196px}
.button_top:hover {background:url(../images/button_top_active.jpg) 0 0 no-repeat}
/* content */
#content {width:100%;overflow:hidden}
.pad_1 {padding:0 50px 35px 60px}
.pad_left1 {padding-left:50px}
.pad_bot1 {padding-bottom:20px}
.pad_bot2 {padding-bottom:10px}
.marg_left1 {margin-left:25px}
.marg_right1 {margin-right:25px}
.button1, .button2 {float:right;background:url(../images/button1_bg.gif) top repeat-x;font-size:16px;color:#fff;line-height:30px;text-decoration:none;text-transform:uppercase;font-weight:400;padding:0 20px;margin-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(js/PIE.htc);position:relative}
.button2 {background:url(../images/button2_bg.gif) top repeat-x}
.button1:hover {background:#202225}
.button2:hover {background:#1f759b}
.under {border-bottom:1px solid #e1e1e1;padding-bottom:15px;margin-bottom:15px}
.link1 {text-decoration:none}
.link1:hover {text-decoration:underline} 
.color1 {color:#1e749a}
.marker {display:block;padding-left:13px;background:url(../images/marker_1.gif) 0 7px no-repeat}
.box1 {width:206px;float:right;background:url(../images/bg_box1.jpg) top repeat-x #1e749a;color:#fff;margin-top:32px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;behavior:url(js/PIE.htc);position:relative}
.box1 .pad_1 {padding:25px 24px 4px;background:url(../images/bg_testimonials.gif) 17px 16px no-repeat}
.list1 li {line-height:20px}
.list1 li a {padding-left:13px;background:url(../images/marker_1.gif) 0 5px no-repeat}
/* footer */
footer {padding:35px 0 0 0;height:72px;width:100%;overflow:hidden;font-size:12px;line-height:18px;color:#fff;text-align:center}
footer a {color:#3e96b4}
/* forms */
#form_1 p {padding-bottom:0}
#form_1 .button2 {margin-top:-5px;padding:0 26px}
#form_1 .input {height:17px;background:none;color:#9d9fa2;font:14px Arial,Helvetica,sans-serif;padding:2px 15px} 
#form_1 .input1 {width:205px}
#form_1 .input2 {width:83px}
#form_1 .bg {background:#fff;border-top:1px solid #ccc;border-left:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(js/PIE.htc);position:relative;margin-bottom:8px}
#form_1 .radio {width:92px;float:left}
#form_1 .radio input {vertical-align:middle;float:left;line-height:20px}
#ContactForm {}
#ContactForm .bg {float:right;background:#f8f8f8;border-top:1px solid #c6c6c6;border-left:1px solid #c6c6c6;margin-bottom:8px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(js/PIE.htc);position:relative}
#ContactForm a {margin-top:12px}
#ContactForm .input {height:17px;width:412px;background:none;color:#9d9fa2;font:14px Arial,Helvetica,sans-serif;padding:2px 15px}
#ContactForm textarea {overflow:auto;height:183px;width:412px;background:none;color:#9d9fa2;font:14px Arial,Helvetica,sans-serif;padding:2px 15px}